body {
    background-color: red;
}

.badge {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    color: var(--bleu-marine);
    background-color: var(--bleu-marine-50);
    border: 1px solid var(--bleu-marine-50);
    height: 40px;
    border-radius: 80px;
    overflow: hidden;
    
    & label {
        float: left;
        line-height: 3.0em;
        width: 8.0em;
        height: 3.0em;

        & span {
            text-align: center;
            padding: 0;
            display: block;
        }

        & input {
            position: absolute;
            display: none;
            
            /* selects all of the text within the input element and changes the color of the text */
            & + span{
                color: var(--bleu-marine);
            }

            /* This will declare how a selected input will look giving generic properties */
            &:checked + span {
                color: var(--blanc);
                background-color: var(--bleu-marine-900);
                border: 1px solid var(--bleu-marine-900);

                &:hover {
                    background-color: var(--bleu-marine);
                    border: 1px solid var(--bleu-marine);
                }
            }
        }

        &:hover {
            background-color: var(--bleu-marine-100);
        }
      }
      &:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      }

//     &:focus-visible {
//         background-color: green;
//     }
//     &.badgeSecondary {
//         background-color: #57647B;
//         border: 1px solid #57647B;
//     }
//     &.badgeTertiary {
//         fill: #07172A;
//         color: #07172A;
//         background-color: #CCE7F0;
//         border: 1px solid #CCE7F0;
//     }
//     // svg path {
//     //     stroke: white;
//     //     display: none;
//     // }
}
// // label input {
// //     display: none;
// // }

// .badgeOutline {
//     color: #07006F;
//     background-color: #fff;
//     border: 1px solid #CCE7F0;

//     &.badgeSecondary {
//         fill: #07172A;
//         background-color: #CCE7F0;
//         border: 1px solid #CCE7F0;
//     }
//     &.badgeTertiary {
//         fill: #07172A;
//         color: #B0B0B0;
//         background-color: #fff;
//         border: 1px solid #CCE7F0;
//     }
//     svg path {
//         stroke: black
//     }
// }

// .badgeLink {
//     color: #07006F;
//     fill: #07172A;

//     // &.badgeSecondary {
//     //     fill: #07172A;
//     //     background-color: #CCE7F0;
//     //     border: 1px solid #CCE7F0;
//     // }
//     // &.badgeTertiary {
//     //     fill: #07172A;
//     //     color: #B0B0B0;
//     //     background-color: #fff;
//     //     border: 1px solid #CCE7F0;
//     // }
// }

// .badgeIconOnly {
//     width: 5.6rem;
//     padding: 0 1.6rem;
// }

// .badgeImg {
//     width: 24px;
//     height: 24px;
//     background-color: black;
// }

// .badge{
//     margin: 4px;
//     background-color: #104068;
    
//     float: left;
//   }
  
  

  

  
