// Variables liées aux fonts.

:root {
    // Fonts
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'KoHo', sans-serif;

    //Fonts Sizes

    --font-size-80: 8rem;
    --font-size-42: 4.2rem;
    --font-size-32: 3.2rem;
    --font-size-24: 2.4rem;
    --font-size-20: 2rem;
    --font-size-16: 1.6rem;
    --font-size-14: 1.4rem;
    --font-size-12: 1.2rem;
    
    // Colors
    --noir: #07172A;
    --noir-900: #57647B;
    --bleu-marine: #07006F;
    --bleu-marine-900: #323EA3;
    --bleu-marine-800: #3F50BA;
    --bleu-marine-700: #4F62CD;
    --bleu-marine-600: #6076DE;
    --bleu-marine-100: #D1DCFF;
    --bleu-marine-50: #EDF1FF;
    --Turquoise-100: #CCE7F0;
    --blanc: #fff;
    --blanc-300: #C1C1C1;
    --blanc-900: #636363;
    --blanc-800: #727272;
    --blanc-400: #B0B0B0;
    --blanc-50: #F3F3F3;
    --jaune: #FFE501;
    --rouge: #EF4035;

    //Spacing 
    --spacing-64: 6.4rem;
    --spacing-32: 3.2rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-2: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;

    //Shadows

    --elevation-2 :  0px 0px 0px 0px rgba(46, 49, 75, 0.10), 6px 18px 43px 0px rgba(46, 49, 75, 0.10);

    //Glass
    --glass: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 35.42%);
    --glassHover: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #FFFFFF 35.42%);

    //Degrade
    --degrade-1: radial-gradient(54.34% 54.88% at 19.65% 48.05%, rgba(255, 229, 0, 0.5) 20.46%, rgba(255, 229, 1, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(49.9% 45.36% at 47.85% 2.69%, #FF8700 0%, rgba(252, 133, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(34.85% 60.87% at 67.88% -2.25%, rgba(255, 135, 0, 0.7) 0%, rgba(252, 133, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(34.77% 77.22% at 96.63% -8.74%, rgba(239, 64, 53, 0.8) 0%, rgba(239, 64, 53, 0) 91.15%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #D1DCFF;
}