// Variables liées aux fonts.

:root {
    // Fonts
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'KoHo', sans-serif;
    
    // Colors
    --noir: #07172A;
    --noir-900: #57647B;
    --bleu-marine: #07006F;
    --bleu-marine-900: #323EA3;
    --bleu-marine-600: #6076DE;
    --bleu-marine-100: #D1DCFF;
    --bleu-marine-50: #EDF1FF;
    --Turquoise-100: #CCE7F0;
    --blanc: #fff;
    --blanc-900: #636363;
    --blanc-800: #727272;
    --blanc-400: #B0B0B0;
    --jaune: #FFE501;
    --rouge: #EF4035;
}