.u-color--bleu-marine {
    color: var(--bleu-marine);
}

.u-color--bleu-marine-800 {
    color: var(--bleu-marine-800);
}

.u-color--bleu-marine-700 {
    color: var(--bleu-marine-700);
}

.u-bgcolor--blanc {
    background-color: var(--blanc);
}
