// Font

.u-font-primary {
    font-family: var(--font-primary);
}

.u-font-secondary {
    font-family: var(--font-secondary);
}

// Tailles de texte

.u-font-80 {
    font-size: var(--font-size-80);
}

.u-font-42 {
    font-size: var(--font-size-42);
}

.u-font-32 {
    font-size: var(--font-size-32);
}

.u-font-24 {
    font-size: var(--font-size-24);
}

.u-font-20 {
    font-size: var(--font-size-20);
}

.u-font-16 {
    font-size: var(--font-size-16);
}

.u-font-12 {
    font-size: var(--font-size-12);
}

// Graisses de texte

.u-font-700 {
    font-weight: 700;
}

.u-font-600 {
    font-weight: 600;
}

.u-font-400 {
    font-weight: 400;
}


@each $bp,
$bp_value in $breakpoints {
    @include mq(#{$bp_value}) {
        .u-font-80\@#{$bp} {
            font-size: var(--font-size-80);
        }

        .u-font-42\@#{$bp} {
            font-size: var(--font-size-42);
        }

        .u-font-32\@#{$bp} {
            font-size: var(--font-size-32);
        }

        .u-font-24\@#{$bp} {
            font-size: var(--font-size-24);
        }

        .u-font-20\@#{$bp} {
            font-size: var(--font-size-20);
        }

        .u-font-16\@#{$bp} {
            font-size: var(--font-size-16);
        }

        .u-font-12\@#{$bp} {
            font-size: var(--font-size-12);
        }

    }
}