.u-container {
    max-width: 1392px;
    width: 100%;
    padding: 0 1.6rem;
    margin: 0 auto;
}

.u-full-width {
    width: 100%;
}

.u-position-relative {
    position: relative;
}

.u-zindex-0 {
    z-index: 0;
}

.u-zindex-1 {
    z-index: 1;
}