.u-m-64 {
    margin: var(--spacing-64)!important;
}
.u-m-32 {
    margin: var(--spacing-32)!important;
}
.u-m-28 {
    margin: var(--spacing-28)!important;
}
.u-m-24 {
    margin: var(--spacing-24)!important;
}
.u-m-20 {
    margin: var(--spacing-20)!important;
}
.u-m-16 {
    margin: var(--spacing-16)!important;
}
.u-m-12 {
    margin: var(--spacing-12)!important;
}
.u-m-8 {
    margin: var(--spacing-8)!important;
}
.u-m-4 {
    margin: var(--spacing-4)!important;
}

.u-mt-64 {
    margin-top: var(--spacing-64)!important;
}
.u-mt-32 {
    margin-top: var(--spacing-32)!important;
}
.u-mt-28 {
    margin-top: var(--spacing-28)!important;
}
.u-mt-24 {
    margin-top: var(--spacing-24)!important;
}
.u-mt-20 {
    margin-top: var(--spacing-20)!important;
}
.u-mt-16 {
    margin-top: var(--spacing-16)!important;
}
.u-mt-12 {
    margin-top: var(--spacing-12)!important;
}
.u-mt-8 {
    margin-top: var(--spacing-8)!important;
}
.u-mt-4 {
    margin-top: var(--spacing-4)!important;
}

.u-mr-64 {
    margin-right: var(--spacing-64)!important;
}
.u-mr-32 {
    margin-right: var(--spacing-32)!important;
}
.u-mr-28 {
    margin-right: var(--spacing-28)!important;
}
.u-mr-24 {
    margin-right: var(--spacing-24)!important;
}
.u-mr-20 {
    margin-right: var(--spacing-20)!important;
}
.u-mr-16 {
    margin-right: var(--spacing-16)!important;
}
.u-mr-12 {
    margin-right: var(--spacing-12)!important;
}
.u-mr-8 {
    margin-right: var(--spacing-8)!important;
}
.u-mr-4 {
    margin-right: var(--spacing-4)!important;
}

.u-mb-64 {
    margin-bottom: var(--spacing-64)!important;
}
.u-mb-32 {
    margin-bottom: var(--spacing-32)!important;
}
.u-mb-28 {
    margin-bottom: var(--spacing-28)!important;
}
.u-mb-24 {
    margin-bottom: var(--spacing-24)!important;
}
.u-mb-20 {
    margin-bottom: var(--spacing-20)!important;
}
.u-mb-16 {
    margin-bottom: var(--spacing-16)!important;
}
.u-mb-12 {
    margin-bottom: var(--spacing-12)!important;
}
.u-mb-8 {
    margin-bottom: var(--spacing-8)!important;
}
.u-mb-4 {
    margin-bottom: var(--spacing-4)!important;
}

.u-ml-64 {
    margin-left: var(--spacing-64)!important;
}
.u-ml-32 {
    margin-left: var(--spacing-32)!important;
}
.u-ml-28 {
    margin-left: var(--spacing-28)!important;
}
.u-ml-24 {
    margin-left: var(--spacing-24)!important;
}
.u-ml-20 {
    margin-left: var(--spacing-20)!important;
}
.u-ml-16 {
    margin-left: var(--spacing-16)!important;
}
.u-ml-12 {
    margin-left: var(--spacing-12)!important;
}
.u-ml-8 {
    margin-left: var(--spacing-8)!important;
}
.u-ml-4 {
    margin-left: var(--spacing-4)!important;
}

.u-p-64 {
    padding: var(--spacing-64)!important;
}
.u-p-32 {
    padding: var(--spacing-32)!important;
}
.u-p-28 {
    padding: var(--spacing-28)!important;
}
.u-p-24 {
    padding: var(--spacing-24)!important;
}
.u-p-20 {
    padding: var(--spacing-20)!important;
}
.u-p-16 {
    padding: var(--spacing-16)!important;
}
.u-p-12 {
    padding: var(--spacing-12)!important;
}
.u-p-8 {
    padding: var(--spacing-8)!important;
}
.u-p-4 {
    padding: var(--spacing-4)!important;
}

.u-pt-64 {
    padding-top: var(--spacing-64)!important;
}
.u-pt-32 {
    padding-top: var(--spacing-32)!important;
}
.u-pt-28 {
    padding-top: var(--spacing-28)!important;
}
.u-pt-24 {
    padding-top: var(--spacing-24)!important;
}
.u-pt-20 {
    padding-top: var(--spacing-20)!important;
}
.u-pt-16 {
    padding-top: var(--spacing-16)!important;
}
.u-pt-12 {
    padding-top: var(--spacing-12)!important;
}
.u-pt-8 {
    padding-top: var(--spacing-8)!important;
}
.u-pt-4 {
    padding-top: var(--spacing-4)!important;
}

.u-pr-64 {
    padding-right: var(--spacing-64)!important;
}
.u-pr-32 {
    padding-right: var(--spacing-32)!important;
}
.u-pr-28 {
    padding-right: var(--spacing-28)!important;
}
.u-pr-24 {
    padding-right: var(--spacing-24)!important;
}
.u-pr-20 {
    padding-right: var(--spacing-20)!important;
}
.u-pr-16 {
    padding-right: var(--spacing-16)!important;
}
.u-pr-12 {
    padding-right: var(--spacing-12)!important;
}
.u-pr-8 {
    padding-right: var(--spacing-8)!important;
}
.u-pr-4 {
    padding-right: var(--spacing-4)!important;
}

.u-pb-64 {
    padding-bottom: var(--spacing-64)!important;
}
.u-pb-32 {
    padding-bottom: var(--spacing-32)!important;
}
.u-pb-28 {
    padding-bottom: var(--spacing-28)!important;
}
.u-pb-24 {
    padding-bottom: var(--spacing-24)!important;
}
.u-pb-20 {
    padding-bottom: var(--spacing-20)!important;
}
.u-pb-16 {
    padding-bottom: var(--spacing-16)!important;
}
.u-pb-12 {
    padding-bottom: var(--spacing-12)!important;
}
.u-pb-8 {
    padding-bottom: var(--spacing-8)!important;
}
.u-pb-4 {
    padding-bottom: var(--spacing-4)!important;
}

.u-pl-64 {
    padding-left: var(--spacing-64)!important;
}
.u-pl-32 {
    padding-left: var(--spacing-32)!important;
}
.u-pl-28 {
    padding-left: var(--spacing-28)!important;
}
.u-pl-24 {
    padding-left: var(--spacing-24)!important;
}
.u-pl-20 {
    padding-left: var(--spacing-20)!important;
}
.u-pl-16 {
    padding-left: var(--spacing-16)!important;
}
.u-pl-12 {
    padding-left: var(--spacing-12)!important;
}
.u-pl-8 {
    padding-left: var(--spacing-8)!important;
}
.u-pl-4 {
    padding-left: var(--spacing-4)!important;
}