.l-activities__container {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../assets/Activities/1.jpg");
    background-size: cover;
    background-position: bottom;
    color: var(--bleu-marine);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}