.l-destination {
    // background: var(--degrade-1);
    background-color: var(--blanc);
    mix-blend-mode: normal;
    position: relative;
    // z-index: -2;
}
.l-destination__background {
    -webkit-mask-image: url(../../assets/background/destination-cover.svg);
    mask-image: url(../../assets/background/destination-cover.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    position: absolute;
    top: 11.5rem;
    max-width: 115.4rem;
    width: 100%;
    height: 172.1rem;
    z-index: -1;
}

.l-destination__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 40px;
    background-color: var(--blanc);
    max-width: 51.4rem;
    width: 100%;
    margin: 22.4rem 13rem 0 0;
    border-radius: 16px;
}

.l-destination__header {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.l-destination__itineraire {}
.l-destination__activity {
    .l-destination__activity-list {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 1.6rem;
    }
}
.l-destination__conseil {}
.l-destination__others {
    .l-destination__others-cards {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem; 
    }
}
