.l-home {
    display: flex;
    align-items: flex-end;
    min-height: 100vh;

    @media (max-width: 960px) {
        align-items: center;
    }
}

.l-home__content {
    padding: 3.2rem 0 21rem 0;

    @media (max-width: 960px) {
        padding: 0;
    }
}