
.l-places__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem;
}

.l-places__container-step {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: var(--bleu-marine-900);
}

.l-places__container-shuffle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    .l-places__container-shuffle-icon {
        color: var( --bleu-marine);
    }

    p {
        color: var(--bleu-marine-700);
    }
}

.l-places__container-button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
