
.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border: none !important;
    outline: none !important;
    width: 350px !important;
}

.icon {
   color: var(--bleu-marine-700);
   font-size: 16px !important;
}

.input::placeholder { 
    color: var(--blanc-300);
    font-size: 14px;
}