.footer {
    background: var(--glass);
    border-radius: 104px 104px 0px 0px;
    padding: 5rem 4rem 2.4rem 4rem;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    margin-top: 5.8rem;
}