.link {
    color: var(--bleu-marine-700);
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: var(--font-size-14);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-decoration: none;
        }
    }

    &:active {
        text-decoration: none;
    }

    &.linkUnderlineNone {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}