
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bleu-marine);

}

.title {
    font-size: 320px; 
}

.parag {
    font-size: 40px;
    font-weight: bold;
}